.footergrid{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-gap: 10px;
    padding: 10px 10px 40px 10px;
    background-color: #3F4141;
    line-height: 2;    
  }

  .footer{
    background-color: #3F4141;
    padding-bottom: 30px;
    align-content: center;
  
  
  }
  
  li{
    list-style: none;
    color: #ffffff;
  }


  /* FOOTER HEADING */  
  .footerhd{
    color: #928D8D;
    font-size: 22px;
  }
  
  .footerContent{
    font-size: 14px;
    
  }

  
  .line{
    border: 1px solid #297E8E;
    /* height: 1px; */
    width: 33px;
    float: left;
  }
  
  .hr-ln{
    border: 1px solid #707070;
  }
  

  /* COPYRIGHT SECTION */
  .copyright{
    display: flex;
    align-items: center;
    align-content: center;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
  
  .copyright-div{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  